/*
                                                    _ooOoo_
                                                  o8888888o
                                                  88" . "88
                                                  (| -_- |)
                                                  O\  =  /O
                                               ____/`---'\____
                                             .'  \\|     |//  `.
                                            /  \\|||  :  |||//  \
                                           /  _||||| -:- |||||-  \
                                           |   | \\\  -  /// |   |
                                           | \_|  ''\---/''  |   |
                                           \  .-\__  `-`  ___/-. /
                                         ___`. .'  /--.--\  `. . __
                                      ."" '<  `.___\_<|>_/___.'  >'"".
                                     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
                                     \  \ `-.   \_ __\ /__ _/   .-` /  /
                                ======`-.____`-.___\_____/___.-`____.-'======
                                                   `=---='
                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                                         |佛祖保佑|       |永无BUG|
  */
@keyframes rotate {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(-360deg);
    }
}
header{
    width: 100%;
    height: 65px;
    background-color: #3e3c3d;
    position: relative;
}
header .box{
    transform-style: preserve-3d;
    display: inline-block;
    width: 120px;
    height: 65px;
    /*background-color: blue;*/
    position: relative;
    top: -12px;
    left: 100px;
    animation: rotate 5s linear infinite normal;
}
header .box p{
    width: 120px;
    height: 65px;
    display: inline-block;
    line-height: 65px;
    text-align: center;
    color: #e9db39;
    font-size: 38px;
    position: absolute;
    background-color: rgba(62,60,61,.9);
    border: 1px solid rgba(233,219,57,.4);
    box-sizing: border-box;
    transition: all .3s;
}
header .box p a{
    color: #e9db39;
    transition: all .3s;
}
header .box p:nth-child(1){
    /*background-color: #3e3c3d;*/
    transform:  rotateX(90deg) translateZ(32px);
}
header .box p:nth-child(2){
    /*background-color: #3e3c3d;*/
    transform:  rotateX(180deg) translateZ(32px);
}
header .box p:nth-child(3){
    /*background-color: #3e3c3d;*/
    transform:  rotateX(270deg) translateZ(32px);
}
header .box p:nth-child(4){
    /*background-color: #3e3c3d;*/
    transform:  rotateX(360deg) translateZ(32px);
}
header .box:hover{
    animation-play-state: paused;
}
header .box:hover p{
    border: 1px solid rgba(0,142,89,.4);
}
header .box:hover p a{
    color: #008e59;
}



header ul{
    width: 550px;
    height: 45px;
    /*background-color: red;*/
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}
header ul li{
    display: inline-block;
    width: 100px;
    height: 45px;
    /*background-color: blue;*/
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    margin-left: 30px;
    border-top: 2px solid rgba(233,219,57,1);
    border-bottom: 2px solid rgba(233,219,57,1);
    box-sizing: border-box;
    transition: all .5s;
}
header ul li a{
    color: #e9db39;
}
header ul li:hover{
    transform: scale(1.3);
    background-color: rgba(0,0,0,0.1);
    border-top: 2px solid  #008e59;
    border-bottom: 2px solid  #008e59;

}
header ul li:hover a{
    color: #008e59;
}
.content{
    width: 90%;
    height: 600px;
    background-color: rgb(151,52,68);
    margin: 0 auto;
}
footer{
    width: 100%;
    height: 200px;
    background-color: #3e3c3d;
}