/*
                                                    _ooOoo_
                                                  o8888888o
                                                  88" . "88
                                                  (| -_- |)
                                                  O\  =  /O
                                               ____/`---'\____
                                             .'  \\|     |//  `.
                                            /  \\|||  :  |||//  \
                                           /  _||||| -:- |||||-  \
                                           |   | \\\  -  /// |   |
                                           | \_|  ''\---/''  |   |
                                           \  .-\__  `-`  ___/-. /
                                         ___`. .'  /--.--\  `. . __
                                      ."" '<  `.___\_<|>_/___.'  >'"".
                                     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
                                     \  \ `-.   \_ __\ /__ _/   .-` /  /
                                ======`-.____`-.___\_____/___.-`____.-'======
                                                   `=---='
                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                                         |佛祖保佑|       |永无BUG|
  */
body{
    /*background-color: #d1e3db;*/
    background-image: url(../images/bg1.jpg);
}
header{
    width: 100%;
    height: 65px;
    background-color: rgba(63,63,60,0.8);
    position: relative;
    border: 4px solid #111;
    box-sizing: border-box;
}
header .box{
    display: inline-block;
    width: 120px;
    height: 65px;
    /*background-color: blue;*/
    margin-left: 40px;
}
header .box p{
    width: 100%;
    height: 45px;
    /*background-color: green;*/
    line-height: 45px;
    text-align: center;
    font-size: 25px;
    margin-top: 4px;
    transition: all .8s;

}
header .box p a{
    color: #e9db39;
}
header .box p:hover{
    transform: scale(1.2);
    background-color: rgba(0,0,0,0.4);
    /*border-top: 2px solid  #008e59;*/
    border-bottom: 2px solid  #008e59;
}
header .box p:hover a{
    color: #008e59;
}
header ul{
    width: 550px;
    height: 45px;
    /*background-color: red;*/
    float: right;
    margin-top: 6px;
    margin-right: 50px;
}
header ul li{
    display: inline-block;
    width: 100px;
    height: 45px;
    /*background-color: blue;*/
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    margin-left: 30px;
    border-top: 2px solid rgba(233,219,57,1);
    border-bottom: 2px solid rgba(233,219,57,1);
    box-sizing: border-box;
    transition: all .5s;
}
header ul li a{
    color: #e9db39;
}
header ul li:hover{
    transform: scale(1.3);
    background-color: rgba(0,0,0,0.3);
    border-top: 2px solid  #008e59;
    border-bottom: 2px solid  #008e59;

}
header ul li:hover a{
    color: #008e59;
}





.content{
    width: 98%;
    height: 1600px;
    /*background-image: url(../images/bg1.jpg);*/
    background-color: rgba(151,52,68,.8);
    margin: 18px auto;
    border: 4px solid #111;
    box-sizing: border-box;
}




footer{
    width: 100%;
    height: 200px;
    background-color: rgba(63,63,60,0.8);
    border: 4px solid #111;
    box-sizing: border-box;
}