/*
                                                    _ooOoo_
                                                  o8888888o
                                                  88" . "88
                                                  (| -_- |)
                                                  O\  =  /O
                                               ____/`---'\____
                                             .'  \\|     |//  `.
                                            /  \\|||  :  |||//  \
                                           /  _||||| -:- |||||-  \
                                           |   | \\\  -  /// |   |
                                           | \_|  ''\---/''  |   |
                                           \  .-\__  `-`  ___/-. /
                                         ___`. .'  /--.--\  `. . __
                                      ."" '<  `.___\_<|>_/___.'  >'"".
                                     | | :  `- \`.;`\ _ /`;.`/ - ` : | |
                                     \  \ `-.   \_ __\ /__ _/   .-` /  /
                                ======`-.____`-.___\_____/___.-`____.-'======
                                                   `=---='
                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                                         |佛祖保佑|       |永无BUG|
  */
header{
    width: 100%;
    height: 60px;
    background-color: green;
}
.content{
    width: 90%;
    height: 600px;
    background-color: red;
    margin: 0 auto;
}
footer{
    width: 100%;
    height: 200px;
    background-color: black;
}